.DS_Store
.env
.env.dev
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea/
.next/
.sst/
.svelte-kit/
.turbo/
!/.turbo/config.json
apps/*-temp
build/
coverage/
dist/
node_modules/
ebbundle/
.pnpm-store
.yalc/
yalc.lock*.vitest-temp-json
vite.config.ts.timestamp-*.mjs
AWSCLIV2.pkg
.env.*
.eslintcache
.sst.config.*.mjs
.vscode/tasks.json
apps/console/tmp